@import url('http://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    background-image: linear-gradient(#636162,#111 );
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;

}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat'sans-serif;
}
.main{
    background-color: rgb(252, 251, 252);
    height: auto;
    width: 1000px;
    position: translate(-50%,-50%);
    left:100%;
    top:100%
}
.left{
    background-color: #fbb03b;
    width: 200px;
    height: 100%;
    float: left;
}
.right{
    
    width:500px;
    float: left;
}
.profile-img{
    height:180px;
    width: 180px;
    background-color: #d5c1c1;
    border-radius: 50%;
    margin-left:60px;
    border: 10px solid #fbb03b;
    box-shadow:6px 7px 9px 5px #fbb03b73;
}
.profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.box-1{
    position:relative;
}
.heading{
    background-color: #4d4d4d;
    padding:10px;
    color:#fbb03b;
    text-align: left;
    padding-left: 20px;
    margin-right:-15px;
}
.heading::after{
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;;
    top:26px;
    transform:rotate(56deg);
    z-index: -1;
}
.p1{
    padding:9px 10px;
    font-size: 11px;
}
.icons1{
    font-size: 16px!important;
    padding-right: 10px!important;
    vertical-align:sub;
}
.skill-container{
    width: 90%;
    background-color: #4d4d4d;
    margin: 0pc 10px;
}
.skill{
    text-align: rigth;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
.html{
    width: 90%;
    background-color: white;
}
.css{
    width: 80%;
    background-color: white;
}
.js{
    width: 90%;
    background-color: white;
}
.mysql{
    width: 90%;
    background-color: white;
}
.python{
    width: 90%;
    background-color: white;
}
.web{
    width: 60%;
    background-color: white;
}
.debug{
    width: 50%;
    background-color: white;
}
.icons2{
    padding: 18px 10px;
}