*{
   
    color: rgb(0, 0, 0);
}

.containerG {
    height: 1000px;
    width: 60%;
    padding: 1em;
    display: grid;
    gap: 0.5em;
  
    grid-template-areas: "one one one one "
    "two three three three "
    "two four four four";
   
    
   
    background-color: rgba(250, 250, 243, 0.867);
}
body{
    background: rgb(14,168,196);
background: linear-gradient(90deg, rgb(148, 239, 255) 0%, rgb(226, 189, 249) 59%);
}
.centerFlex {
    display: flex;
    align-items: center;   
}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;
    margin-left: 50px;
    font-size: 25px;
}
.cell {
    border: 1px solid rgba(5, 14, 14, 0.452);

}
.oneG {
    
    grid-area: one;
background: linear-gradient(90deg, rgb(148, 239, 255) 0%, rgb(226, 189, 249) 59%);
height: 300px;
}
.imgmar{
    margin-left: 60px;
    border-radius: 50%;
}
.twoG {
    grid-area: two;
    background: rgb(14,168,196);
    background: linear-gradient(10deg, rgb(148, 239, 255) 0%, rgb(226, 189, 249) 59%);
    width: 200px;
   
}
.threeG {
    grid-area: three;
    background: rgb(14,168,196);
    background: linear-gradient(10deg, rgb(148, 239, 255) 0%, rgb(226, 189, 249) 59%);
    
}
.fourG{
    grid-area: four;
    background: rgb(14,168,196);
    background: linear-gradient(10deg, rgb(148, 239, 255) 0%, rgb(226, 189, 249) 59%);
    height: 100px;
}
.info{
    margin-right: 10px;
}
.text{
    margin-right: 5px;
    text-align: justify;
    
}
.h{
    margin-bottom: 650px;
    font-size: large;
}
.educ{
    margin-right:400px;
}
